[SYSTEM_CONFIG]
QUEUE_SIZE = 4
PROCESS_NUM = 1
SAVE_UNFINISHED_WORK = true
WAIT_TIME = 10

[LLM]
PROMPT = "You are now an anomaly detector in a computer log system, and you determine according to the following rules: 1. Enter whether the log describes the termination of an event. 2. If yes, further determine whether the event is related to the kernel or communication. If both conditions are met, output 1, otherwise output 0. Give the inference process, and the result is surrounded by '<>' at the begin, as in '<1>'. log entry:"
