[OLLAMA]
URL = http://localhost:11434/api/chat

[DATASET]
BGL = dataSet/BGL/BGL_2k.log

[LOG_PATTERN]
BGL_PATTERN = ^\s*((?:\w+?)|-)\s+(.*)$

[LLM_OUTPUT_PATTERN]
MISTRAL_PATTERN = \s*##\s*((?:Yes)|(?:No)|(?:Uncertain)|(?:yes)|(?:no)|(?:uncertain))\s*##

[PROMPT]
PROMPT_SIMPLE = You are an anomaly detector in a log system. You must choose one of words in 'yes'or 'no' as the result. The result should be surrounded by '##' tag. 'yes' means something failed or interrupted now. 'no' describes a process work normally or a normal state.

[FILE]
MISTRAL = options.json